[submodule "min-devkit"]
	path = min-devkit
	url = https://github.com/Cycling74/min-devkit.git
[submodule "source/lib.deform_tilde/boost-headers-only"]
	path = source/lib.deform_tilde/boost-headers-only
	url = https://github.com/scipy/boost-headers-only.git
[submodule "source/lib.deform_tilde/NumCpp"]
	path = source/lib.deform_tilde/NumCpp
	url = https://github.com/dpilger26/NumCpp.git
